.tree {
	font-size: 0.9285714285714286em; /* 13/14 */
	/* color: #385E80; */
}
.tree a {
	/* color: inherit; */
}


.tree ol {
	margin: 0;
	padding: 0;
}
.tree ol li {
	display: block;
	padding: 8px;
}

.buttons {
	margin-bottom: 1em;
}