<!DOCTYPE html>
<html lang="en" ng-app="treeViewApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Tree View</title>

		<!-- Bootstrap core CSS -->
		<link href="components/bootstrap-css/css/bootstrap.css" rel="stylesheet">
		<link href="components/angular-ui-tree/dist/angular-ui-tree.css" rel="stylesheet">
		<link href="components/angular-bootstrap-nav-tree/dist/abn_tree.css" rel="stylesheet">
		<link href="css/treeView.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="BigTreeCtrl">


		<script type="text/ng-template" id="nodes_renderer.html">
			<div ui-tree-handle>
				{{node.name}}
			</div>
			<ol ui-tree-nodes="" ng-model="node.children">
				<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
			</ol>
		</script>		

		<div class="container">

			<div class="page-header">
				<h1>Tree View</h1>
				<p class="lead">Loading JSON and showging in a Tree View, using Angular and <a href="//github.com/nickperkinslondon/angular-bootstrap-nav-tree" target="_blank">custom directive</a> by Nicki Perkins</p>
			</div>

			<div class="buttons">
				<div class="row">
					<div class="col-sm-7">
						<button ng-click="treeView.expand_branch()" class="btn btn-default btn-sm">Expand</button>
		                <button ng-click="treeView.collapse_branch()" class="btn btn-default btn-sm">Collapse</button>
		                <button ng-click="treeView.expand_all()" class="btn btn-default btn-sm">Expand All</button>
		                <button ng-click="treeView.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
					</div>
					<!--
					<div class="col-sm-5">
						<form action="">
		                	<input type="search" name="s" id="s" ng-model="search" class="form-control" placeholder="Search">
		                </form>
					</div>
					-->
				</div>				
                
			</div>
		
			<div class="tree">
				<abn-tree tree-data="data" tree-control="treeView"></abn-tree>
			</div>

		</div> <!-- /container -->

		<script src="components/jquery/dist/jquery.js"></script>
		<script src="components/angular/angular.min.js"></script>
		<script src="js/treeView/abn_tree_directive.js"></script>
		<script src="components/bootstrap-css/js/bootstrap.min.js"></script>
		<script src="js/treeView/app.js"></script>

	</body>
</html>