<!DOCTYPE html>
<html lang="en" ng-app="treeViewApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Tree View</title>

		<!-- Bootstrap core CSS -->
		<link href="components/bootstrap-css/css/bootstrap.css" rel="stylesheet">
		<link href="components/angular-ui-tree/dist/angular-ui-tree.css" rel="stylesheet">	
		<link href="css/treeView.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="BigTreeCtrl">

		<script type="text/ng-template" id="big-tree-template.html">
			<div ui-tree-handle class="tree-node tree-node-content">
				<a class="btn btn-success btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)">
					<span
					class="glyphicon"
					ng-class="{
					'glyphicon-chevron-right': collapsed,
					'glyphicon-chevron-down': !collapsed
					}"></span>
				</a>
				{{node.name}} ({{node.size}})
				<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
			<ol ui-tree-nodes="" data-nodrop-enabled ng-model="node.children" ng-class="{hidden: collapsed}">
				<li ng-repeat="node in node.children" ui-tree-node ui-tree-nodes-renderer current-node='node' node-render-template='big-tree-template.html' ng-show="visible(node)"></li>
			</ol>
		</script>

		<div class="container">

			<div class="page-header">
				<h1>Tree View</h1>
				<p class="lead">Loading JSON and showging in a Tree View, using Angular and <a href="//github.com/angular-ui-tree/angular-ui-tree" target="_blank">Angular UI Tree</a></p>
			</div>
			
			<div class="row buttons">
				<div class="col-sm-7">
					<button type="button" class="btn btn-default" ng-click="expandAll()">Expand all</button>
					<button type="button" class="btn btn-default" ng-click="collapseAll()">Collapse all</button>
				</div>
				<div class="col-sm-5">
					<!-- <form action=""> -->
						<input type="search" name="query" id="query" ng-model="query" ng-change="findNodes()" class="form-control" placeholder="Search">
					<!-- </form> -->
				</div>
			</div>
		
			<div class="tree">

				<div ui-tree data-nodrop-enabled id="tree-root">
					<ol ui-tree-nodes ng-model="data">
						<li ng-repeat="node in data" ui-tree-node ui-tree-nodes-renderer current-node='node' node-render-template='big-tree-template.html' ng-show="visible(node)"></li>
					</ol>
				</div>

			</div>

		</div> <!-- /container -->

		<script src="components/jquery/dist/jquery.js"></script>
		<script src="components/angular/angular.min.js"></script>
		<script src="components/angular-ui-tree/dist/angular-ui-tree.js"></script>	
		<script src="components/bootstrap-css/js/bootstrap.min.js"></script>

		<script src="components/angular-recursion/angular-recursion.js"></script>

		<script src="js/treeView/tree-control-sources/main.js"></script>	
		<script src="js/treeView/tree-control-sources/controllers/handleCtrl.js"></script>
		<script src="js/treeView/tree-control-sources/controllers/nodeCtrl.js"></script>
		<script src="js/treeView/tree-control-sources/controllers/nodesCtrl.js"></script>
		<script src="js/treeView/tree-control-sources/controllers/treeCtrl.js"></script>
		<script src="js/treeView/tree-control-sources/directives/uiTree.js"></script>
		<script src="js/treeView/tree-control-sources/directives/uiTreeHandle.js"></script>
		<script src="js/treeView/tree-control-sources/directives/uiTreeNode.js"></script>
		<script src="js/treeView/tree-control-sources/directives/uiTreeNodes.js"></script>
		<script src="js/treeView/tree-control-sources/directives/uiTreeNodesRenderer.js"></script>
		<script src="js/treeView/tree-control-sources/services/helper.js"></script>

		<script src="js/treeView/app.bkp.js"></script>

	</body>
</html>