<!DOCTYPE html>
<html lang="en" ng-app="treeViewApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Tree View</title>

		<!-- Bootstrap core CSS -->
		<link href="components/bootstrap-css/css/bootstrap.css" rel="stylesheet">
		<link href="components/angular-ui-tree/dist/angular-ui-tree.css" rel="stylesheet">	
		<link href="css/treeView.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<style>
			.container {
				margin-top: 10%;
			}
			.container .btn {
				margin-top: 15px;
			}
		</style>

	</head>
	<body>

		<div class="container text-center">
			<a href="tree.html" target="_blank" class="btn btn-default">Create JSON from ul/li structure</a><br>
			<a href="tree.json" target="_blank" class="btn btn-default">JSON Example</a><br>
			<a href="insert" target="_blank" class="btn btn-default">Read JSON and insert in MySQL Database</a><br>
			<a href="output" target="_blank" class="btn btn-default">Export JSON from MySQL Database</a><br>
			<a href="treeView.html" target="_blank" class="btn btn-default">Data View</a>
		</div>

	</body>
</html>
