<!DOCTYPE html>
<html lang="en" ng-app="treeViewApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Tree View</title>

		<!-- Bootstrap core CSS -->
		<link href="components/bootstrap-css/css/bootstrap.css" rel="stylesheet">
		<link href="components/angular-ui-tree/dist/angular-ui-tree.css" rel="stylesheet">	
		<link href="css/treeView.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="container">

			<div class="page-header">
				<h1>Bootstrap grid ePxamples</h1>
				<p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
			</div>
		
			<div class="tree" ng-controller="FilterNodesCtrl">

				<script type="text/ng-template" id="nodes_renderer.html">
					<div ui-tree-handle>
						{{node.name}}
					</div>
					<ol ui-tree-nodes="" ng-model="node.children">
						<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
						</li>
					</ol>
				</script>

				<div ui-tree data-nodrop-disabled>
					<ol ui-tree-nodes="" ng-model="data" id="tree-root">
						<li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					</ol>
				</div>

			</div>

		</div> <!-- /container -->

		<script src="components/angular/angular.min.js"></script>
		<script src="components/angular-ui-tree/dist/angular-ui-tree.js"></script>		
		<script src="components/jquery/jquery.min.js"></script>
		<script src="components/bootstrap-css/js/bootstrap.min.js"></script>
		<script src="js/treeView/app.js"></script>

	</body>
</html>
